.header {
    &__headingLink {
        text-decoration: none;
    }
    &__heading {
        margin: 0;
        padding: 0;
        color: black;
        font-weight: 700;
    }
    &__darkmodeLink {
        text-decoration: none;
    }
    &__darkMode {
        margin: 0;
        padding: 0;
        color: black;
        font-weight: 700;
    }
}